<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Update User</title>
</head>
<body>

<h1>Update User</h1>

<form th:method="POST" th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}">

  <label for="username">Enter new username: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
  <br/>

  <label for="password">Enter new password: </label>
  <input type="password" th:field="*{password}" id="password"/>
  <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
  <br/>

  <label for="email">Enter new email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
  <br/>

  <label for="roles">Select role:</label>
  <select id="roles" name="role">
    <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"/>
<!--    <option value="ROLE_USER" th:selected="${#lists.contains(user.roles, 'ROLE_USER')}">User</option>-->
<!--    <option value="ROLE_ADMIN" th:selected="${#lists.contains(user.roles, 'ROLE_ADMIN')}">Admin</option>-->
  </select>
  <br/><br/>

  <input type="submit" value="Update"/>

</form>

</body>
</html>
